<div class="container">
  <div class="row">
    <div class="col-md-12">
        <%= simple_form_for car, html: { class: "register-form" } do |f| %>
          <legend><span class="number">1</span> Specs</legend>
          <hr>
          <div class="form-group">
            <%= f.input :manufacturer, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :model, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :year, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :color, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :price, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.input :km, class: "form-control" %>
          </div>
          <div class="form-group">
            <legend><span class="number">2</span>Photos</legend>
            <%= f.input :photo, as: :file, multiple: true, class: "form-control" %>
          </div>
          <%= f.submit "Submit", class: "btn btn-success" %>
          <hr>
        <% end %>
    </div>
  </div>
</div>
