
<div class="container">
    <% @cars.each do |car| %>
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                  <%# <%= cl_image_tag car.photo.key, height: 300, width: 400 %> 
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        <%= car.model %></h4>
                    <p class="group inner list-group-item-text">
                    <%= car.km %>km</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                              R$ <%= car.price %></p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success"  <%= link_to car_path(car), class:"text-decoration-none" do %> >SPECS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
      <% end %>
      </div>
</div>
