<div class="container">
  <br>
  <h4>My cars</h4>
  <br>
  <div class="row" id="ads">
    <!-- Category Card -->
    <% @user_cars.each do |car| %>
      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
              <%= cl_image_tag car.photo.key, crop: :fit, class:"car-image" if car.photo.attached?  %>
          </div>
          <div class="card-image-overlay m-auto">
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
              <h5><%= car.model %></h5>
            </div>
        <a class="ad-btn" <%= link_to car_path(car), class:"text-decoration-none" do %> VIEWS </a>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<<<<<<< HEAD
    </div>
    </div>

    <div class="container">
  <br>
  <h4>My Orders</h4>
  <br>
  <div class="row" id="ads">

<% if current_user.requested_cars.any? %>
    <div class="row mt-5">
      <% current_user.requested_cars.each do |car| %>
=======

 <% if current_user.requested_cars.any? %>
    <div class="row mt-5">
      <% current_user.requested_cars.each do |car| %>
        <div class="col-md-4">
>>>>>>> master
          <div class="card rounded">
            <div class="card-image">
              <%= cl_image_tag car.photo.key, crop: :fit, class:"car-image" if car.photo.attached? %>
            </div>
            <div class="card-image-overlay m-auto">
            </div>
            <div class="card-body text-center">
              <div class="ad-title m-auto">
                <h5><%= car.model %></h5>
              </div>
              <%= link_to 'Detalhes', car_path(car), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Você ainda não solicitou comprar nenhum carro.</p>
  <% end %>
</div>
<<<<<<< HEAD
=======
  </div>
>>>>>>> master
</div>
