<div class="container">
  <h2><%= @car.model%></h2>
    <div class="vehicle-container">
      <div class="vehicle-card">
          <%= cl_image_tag @car.photo.key, height: 300, width: 350 if @car.photo.attached? %>
          <p><strong>Manufacturer:</strong> <%= @car.manufacturer %></p>
          <p><strong>Model:</strong> <%= @car.model %></p>
          <p><strong>Year:</strong> <%= @car.year %></p>
          <p><strong>Kilometers:</strong> <%= @car.km %></p>
          <p><strong>Color:</strong> <%= @car.color %></p>
          <p><strong>Price:</strong> $ <%= @car.price %></p>
      </div>

      <div class="info-card">
        <h3><strong>Nome do Vendedor:</strong> <%= @car.user.first_name %></h3>
        <h3><strong>Email do Vendedor:</strong> <%= @car.user.email %></h3>
        <%= form_with(model: @order, local: true, url: buy_car_path(@car), id: 'order_form') do |form| %>
          <%= form.label :order_date %>
          <%= form.datetime_local_field :order_date %>
          <%= form.submit 'Confirmar Pedido', id: 'submit_button' %>
        <% end %>
      </div>

    </div>
      <%= link_to "Back to cars", cars_path, class: "btn btn-primary" %>
      <% if @car.user == current_user %>
      <%= link_to 'Delete this car', car_path(@car), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-delete" %>
      <% end %>
</div>
